absl-py==1.0.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.20.34
botocore==1.23.34
Bottleneck==1.3.2
cachetools==5.0.0
cellh5==1.3.0
cellpose==2.0.5
CellProfiler==4.2.1
cellprofiler-core==4.2.1
centrosome==1.2.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
csbdeep==0.6.3
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.26
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
docutils==0.15.2
edt==2.1.1
entrypoints==0.4
executing==0.8.3
ezomero==1.1.0
fastjsonschema==2.15.3
fastremap==1.12.2
flatbuffers==2.0
fonttools==4.25.0
future==0.18.2
gast==0.4.0
google-auth==2.4.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.2.1
hmmlearn==0.2.6
idna==3.3
imagecodecs==2022.2.22
imageio==2.13.5
imglyb==2.0.0
importlib-metadata==4.10.1
importlib-resources==5.7.1
inflect==5.3.0
ipykernel==6.13.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
jgo==1.0.3
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
JPype1==1.3.0
jsonschema==4.6.0
jupyter-client==7.3.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
llvmlite==0.36.0
lxml==4.7.1
mahotas==1.4.12
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
microscopeimagequality==0.1.0.dev5
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
munkres==1.1.4
mysqlclient==1.4.6
natsort==8.0.2
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
ncolor==1.1.2
nest-asyncio==1.5.5
networkx==2.6.3
nose==1.3.7
notebook==6.4.11
numba==0.53.0
numexpr @ file:///C:/ci/numexpr_1640704408721/work
numpy==1.22.4
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
omero-py==5.10.0
omnipose==0.2.1
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.0
prokaryote==2.4.4
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyimagej==1.0.2
pyparsing==3.0.6
pyrsistent==0.18.1
python-bioformats==4.0.5
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-javabridge==4.0.3
pytz==2021.3
PyWavelets==1.2.0
pywin32==225
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.1.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy @ file:///C:/ci/scipy_1641555198988/work
scyjava==1.4.0
seaborn==0.11.2
Send2Trash==1.8.0
sentry-sdk==0.18.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.3.2.post1
stack-data==0.2.0
stardist==0.8.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.0.0
tifffile==2021.11.2
tinycss2==1.1.1
torch==1.11.0+cu113
torch-optimizer==0.3.0
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm==4.62.3
traitlets==5.2.2.post1
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.13.3
wxPython==4.1.0
xarray==0.20.2
zeroc-ice @ file:///C:/Miniconda/conda-bld/zeroc-ice36-python_1606217460327/work
zipp==3.7.0
